.arrow-left-wrapper {
    z-index: 100;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 50%;
    left: 0;
}
.arrow-left{
    z-index: 100;
    cursor: pointer;
    animation: leftIng 1s ease-in-out infinite;
}