.arrow-right-wrapper {
    z-index: 100;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 50%;
    right: 0;
}

.arrow-right {
    z-index: 100;
    cursor: pointer;
    animation: rightIng 1s ease-in-out infinite;
}
