.contact__button-sns-wrapper {
    width: 90px;
    height: 40px;
    line-height: 40px;
}

.contact__button-sns {
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    border-radius: 60px;
    font-size: 12px;
    font-weight: 300;
}

.contact__button-sns:hover {
    animation: snsHover 0.3s ease-out both;
}