.typing {
    color: #999;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    font-size:  12px;
    left: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    user-select: none;
    pointer-events: none;
    transition: transform ease-out .1s, -webkit-transform ease-out .1s;
}

.typed {
    transform: scale(.7333) translateX(-15px) translateY(-14px);
}