.main-content-title {
    font-size: 3rem;
    font-weight: 400;
    color: #ffffff;
}

.main-content-title-wrapper {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}