.road-pop-title-wrapper {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
}

.road-pop-title {
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
}

@media screen and (max-width: 550px) {
    .road-pop-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px){
    .road-pop-title {
        font-size: 1rem;
    }
}
