.description-box {
    width: 50vw;
    height: 300px;
}

@media screen and (max-width: 500px) {
    .description-box {
        width: 220px;
    }
}

@media screen and (min-width: 501px) and (max-width: 840px) {
    .description-box {
        width: 300px;
    }
}