.main-content-box {
    width: 320px;
    height: 480px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.main-content-box__line {
    margin-top: 10px;
    width: 220px;
    height: 1px;
    background-color: white;
}